@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Ysabeau+Office&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.darkModeBtn {
    margin: 4px 4px 0px 0px;
    border: none;
    outline: none;
    background-color: rgb(108, 107, 107);
    border-radius: 5px;
    padding: 4px;
}
.darkModeBtn:active {
    outline: 2px solid black;
    background-color: rgb(50, 49, 49);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 0px 6px;
}

.appContainer {
    box-shadow: 0px 0px 2px rgb(152, 151, 151);
    border: none;
    outline: none;
    border-radius: 6px;
    height: 400px;
    width: 370px;
    background-color: #f0eee1;
    
}


h2 {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    /* color: #5e5e63; */
    color: #000000;
    user-select: none;
    padding-block: 4px;
}

.todosBoxContainer {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 360px;
}

.inputContainer {
    display: flex;
    align-items: center;
}

input {
    border: none;
    outline: none;
    box-shadow: 0px 0px 1px rgb(115, 112, 112);
    border-radius: 4px;
    padding: .7rem .7rem;
    display: block;
    background-color: transparent;
    width: 100%;
}

input:focus {
    box-shadow: 0px 0px 3px rgb(78, 76, 76);
    transition: .2s;

}

input::placeholder {
    color: rgba(244, 46, 46, 0.774);
    
}

input:focus::placeholder {
    color: rgb(63, 72, 82);


}

#addBtn {
    border: none;
    outline: none;
    margin-left: -40px;
    border-radius: 0px 4px 4px 0px;
    background-color: #7f5539;
    color:rgb(14, 13, 13);
    font-size: 1rem;
    font-weight: bold;
    padding: 8px 6px 9px 6px;
    font-family: 'Ysabeau Office', sans-serif;

}

#addBtn:hover {
    /* background-color: rgb(38, 38, 77); */
    background-color: #906548;
    transition: 0.2s;
}

#addBtn:active {
    background-color: #5c351b;
  
   
}

.todosListBox {

    width: 100%;
    height: 250px;
    overflow-y: auto;
   

}

.todoItem {
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 2px rgb(66, 63, 63);
    padding: 4px 6px;
    margin-block: 12px;
    width: 95%;
    margin-inline: auto;
    border-radius: 3px;
    user-select: none;
    font-family: 'Ysabeau Office', sans-serif;
}





.todoItem.todoItemWhiteModeEffect {
    background-color: #3CCF4E;
    color: black;
    box-shadow: 0px 0px 2px black;
}


.todoItem>div {
    border: none;
    outline: none;
    list-style-type: none;
    width: 100%;

}

.fa-square-check {
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 1.2rem;
    margin-inline: 4px;
}

.fa-square-minus {
    color: red;
    cursor: pointer;
    font-size: 1.2rem;
    margin-inline: 4px;
}

.fa-square-check:active {
    color: rgb(3, 85, 3);
}

.fa-square-minus:active {
    color: rgb(159, 2, 2)
}


#clearAllBtn {
    background-color: transparent;
    width: 85%;
    margin: 0px auto;
    display: block;
    text-transform: uppercase;
    padding: 4px 2px;
    font-weight: bold;
    font-family: 'Ysabeau Office', sans-serif;
    border: none;
    outline:2px solid #7f5539;
    border-radius: 4px;
}

#clearAllBtn:hover {
    background-color: #9e7457;
    transition: .2s ease-out;
}

#clearAllBtn:active {
    background-color: #ef1c1c;

}




@media screen and (max-width:500px) {
    main {
        padding: 0px 10px;
    }

    .appContainer {
        height: 75vh;
        padding-bottom: 12px;
        margin-top: -120px;
    }

    .todosBoxContainer {
        height: 92%;
    }

    .todosListBox {
        height: 75%;
    }

    h2 {
        padding-block: 12px;
    }
    .darkModeBtn{
        font-size: 1.3rem;
    }
}